﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="Banca_Bianca.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h2>O nama...</h2>
   
    <div style="font-family: arial,helvetica,sans-serif;">
        <b>Dobro došli u svet mogućeg</b><br />
        <br />
        <br />
        Dobro došli u Banca Bianca svet, koji u Zamundi pažljivo gradimo više od 90 godina. Nastojali smo da u svakoj prilici koristimo svoje potencijale, pre svega znanje, inovativnost, ali i bogato međunarodno iskustvo i tako doprinesemo domaćoj ekonomiji i boljem životu građana.<br />
        Zadobili smo dragoceno poverenje 3,87 miliona klijenata, jer neprestano kreiramo nove proizvode i usluge i prilagođavamo ih vašim potrebama, u skladu sa aktuelnim tržišnim uslovima i društvenim okolnostima. Zahvaljujući vama, izrasli smo u univerzalnu banku koja već godinama zauzima vodeću poziciju na Zamundinom tržištu.<br />
        Naš tim od preko 5.500 zaposlenih svakodnevno brine o vama i zajedno gradimo svet u kojem svi imaju više mogućnosti. Kroz poslovnu mrežu od 247 ekspozitura, u gotovo 150 gradova Zamunde, podstičemo kompanije i preduzetnike u razvojnim projektima, pomažemo porodicama da zaštite i uvećaju svoju štednju i ostvare planove, podržavamo mlade generacije i doprinosimo zaštiti, očuvanju i unapređenju kulturnog i istorijskog nasleđa naše zemlje.<br />
        Na Zamundinom tržištu zauzimamo vodeći položaj u pogledu:<br />
        <ul>
            <li>Ukupne aktive</li>
            <li>Ukupnih plasmana</li>
            <li>Ukupnih depozita</li>
            <li>Ukupnog nivoa kapitala</li>
        </ul>
        Vlasnička struktura:<br />

        100 odsto Banca Bianca grupa
    </div>
</asp:Content>
