﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Banca_Bianca._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>Banca Bianca</h1>
        <p class="lead">Jednostavnije svakodnevno bankarstvo, bez ograničenja.</p>
        <p><a href="About.aspx" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Keš krediti</h2>
            <p>
                Kada vam zatreba novac za ostvarenje vaših želja i potreba, na raspolaganju su vam naši gotovinski krediti.<br />

                FIKSNA RATA ZA KREDIT U DINARIMA sa rokom otplate do 7 godina<br />

                BEZ DEPOZITA I UČEŠĆA<br />

                BRZA I JEDNOSTAVNA KREDITNA PROCEDURA<br />

                Odaberite model koji vam odgovara i ostvarite svoje želje i potrebe

            </p>
            <p><a class="btn btn-default" href="Proizvodi.aspx">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Stambeni krediti</h2>
            <p>
                Zajedno sa vama do useljenja<br />
                Pravo je vreme da ostvarite svoje planove i snove o idealnom domu.
                <br />
                Ukoliko kupujete prvi stan, želite manji da zamenite za veći, ili pak adaptirate postojeći i učinite ga funkcionalnijim, ili refinansirate stambeni kredit druge banke, na raspolaganju su vam stambeni krediti Banca Bianca s brojnim pogodnostima.<br />
                Izaberite nekretninu, a mi ćemo vam pomoći u odabiru za vas najboljeg modela stambenog kredita i olakšati proces do njegovog odobrenja.
            </p>
            <p><a class="btn btn-default" href="Proizvodi.aspx">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Krediti za refinansiranje</h2>
            <p>
                Uz kredit za refinansiranje možete objediniti vaša trenutna zaduženja u jednu ratu, a uz to dobiti dodatni novac.<br />

                •VEĆI IZNOS KREDITA,
            sada i do 2.000.000 dinara
                <br />
                •ROK OTPLATE DO 7 GODINA<br />
                •MOGUĆNOST DOBIJANJA DODATNOG KEŠA<br />

                Tu smo da vam pružimo sve potrebne informacije.
            </p>
            <p><a class="btn btn-default" href="Proizvodi.aspx">Learn more &raquo;</a></p>
        </div>
    </div>

</asp:Content>
