﻿<%@ Page Title="Proizvodi" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Proizvodi.aspx.cs" Inherits="Banca_Bianca.Proizvodi" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h2>Bankarski krediti Banca Bianca</h2>
    <div style="font-family:arial,helvetica,sans-serif;">
    U današnje vreme novac je uvek preko potreban, a kako nedovoljno zarađujemo, rešenje možete pronaći u raznovrsnoj ponudi kredita za sve vaše potrebe.
    Banca Bianca vam nudi širok spektar najrazličitijih kredita: imamo kratkoročne i dugoročne gotovinske, stambene kredite I kredite za refinansiranje.
    Brzom i jednostavnom kreditnom procedurom možete ostvariti sve svoje potrebe i želje.<br /><br /><br />
    <b> 1. KEŠ KREDITI ZA SVE VAŠE POTREBE</b><br /><br />
    Kada vam zatreba novac za ostvarenje vaših želja i potreba, na raspolaganju su vam naši gotovinski krediti.<br />
    FIKSNA RATA ZA KREDIT U DINARIMA sa rokom otplate do 7 godina<br />
    BEZ DEPOZITA I UČEŠĆA<br />
    BRZA I JEDNOSTAVNA KREDITNA PROCEDURA<br />
    Odaberite model koji vam odgovara i ostvarite svoje želje i potrebe<br /><br /><br />
    <b>2. KREDITI ZA REFINANSIRANJE</b><br /><br />
    Uz kredit za refinansiranje možete objediniti vaša trenutna zaduženja u jednu ratu, a uz to dobiti dodatni novac.<br />
    •VEĆI IZNOS KREDITA, sada i do 2.000.000 dinara<br />
    •ROK OTPLATE DO 7 GODINA<br />
    •MOGUĆNOST DOBIJANJA DODATNOG KEŠA<br />
    Tu smo da vam pružimo sve potrebne informacije.<br /><br /><br />
    <b>3. JOŠ POVOLJNIJI STAMBENI KREDITI ZA VAŠ SVET MOGUĆEG</b><br /><br />
    Zajedno sa vama do useljenja<br />
    Pravo je vreme da ostvarite svoje planove i snove o idealnom domu. Ukoliko kupujete prvi stan, želite manji da zamenite za veći,
    ili pak adaptirate postojeći i učinite ga funkcionalnijim, ili refinansirate stambeni kredit druge banke, na raspolaganju su vam stambeni
    krediti Banca Bianca s brojnim pogodnostima.<br />
    Izaberite nekretninu, a mi ćemo vam pomoći u odabiru za vas najboljeg modela stambenog kredita i olakšati proces do njegovog odobrenja.<br /><br />

    Stambeni krediti Banca Bianca  pružaju vam sledeće pogodnosti:<br />
    •	Naše kamatne stope su nikad niže, već od 2,5% na kredite indeksirane u evrima.<br />
    •	Bez naknade za obradu kredita do 31. 09. 2019.<br /><br />

    •	Bez naknade za godišnje administriranje kredita<br />
    •	Bez obaveznog životnog osiguranja<br />
    •	U našoj ponudi je i model kredita sa fiksnom kamatom na ceo period otplate do 15 godina<br />
    •	Povoljan keš kredit za opremanje stana<br /><br />


    Ako priželjkujete novi dom, sada je pravo vreme da se odlučite, jer naši stambeni krediti su još povoljniji.<br />

    NIKAD NIŽE KAMATNE STOPE NA KREDITE U EVRIMA<br />

    BEZ NAKNADE ZA OBRADU KREDITA<br />

    PLUS VEOMA POVOLJAN KEŠ KREDIT ZA OPREMANJE STANA<br />

</div>




</asp:Content>
